*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.link{
    text-decoration: none;
}
header{
    height: 100px;
    background-color: #000;
    color: #fff;
}
.header{
    max-width: 1040px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg {
    width: 56px;
    height: 56px;
    background-color: #b88b58;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;    
}
.menu-opener{
    display: none;
}
.menu ul {
    display: flex;
}
.menu ul, menu li{
    list-style: none;
}
.menu li a{
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 0 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b88b58;
    color: #ccc;
}
.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #b88b58;
    font-size: 13px;
    margin-top: 30px;
}
.button2{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #373737;
    font-size: 13px;
    margin-top: 30px;
}
.button2:hover {
    background-color: #b88b58;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}
.banner_polarizer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner_polarizer .item{
    width: 100%;
    height: calc(100vh - 150px);
}
.slidearea{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    flex-direction: column;
}
.slidearea h1{
    font-size: 50px;
    font-weight: bold;
}
.slidearea h1 span{
    color: #b88b58;
}
.slidearea h2{
    margin-top: 10px;
}

.dafault{
    padding: 50px 0;
}
.dafault .section-title,
.dafault .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.dafault .section-title{
    font-size: 20px;
}
.dafault .section-desc{
    font-size:12px;
    color:#ccc;
    margin-top: 10px;
    margin-bottom: 40px;

}
.dafault .section-body{
    max-width: 1140px;
    margin: auto;
}
.dafault.light{
    background-color: #f7f7f7;
}
.dafault.light .section-title,
.dafault.light .section-body{
    color: #000;
}
.dafault.dark {
    background-color: #000;
}
.dafault.dark .section-title,
.dafault.dark .section-body{
    color: #f7f7f7;
}
.traco {
    width: 12px;
    margin: 5px 0;
    border-bottom: 1px solid #7d7d7d;
}



/* CSS de áreas específica */
.section-aboutus{
    display: flex;
}
.section-about-text{
    flex: 1;
}
.section-about-text p{
    margin-bottom: 35px;
    line-height: 20px;
}
.section-about-img{
    background-image: url('../../media/homem3.jpg');
    background-size: cover;
    background-position: 0% 35%;
    height: 213px;
    width: 380px;
    margin-left: 25px;
    box-shadow: 0px 5px 10px #333;
}
.section-about-img-content{
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    font-size: 23px;
}
.section-about-img-content .play{
    width: 55px;
    height: 55px;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.section-about-img-content .play::after{
    content: ' ';
    display: block;
    position: absolute;
    margin-top: 12px;
    margin-left: 22px;
    border: 13px solid;
    border-color: transparent transparent transparent #fff;
}

.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    padding: 15px;
    text-align: center;
    border-right: 1px solid #383838;
}
.section-service:first-child{
    border-left: 1px solid #383838;
}
.section-service h4{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.section-projects--filter{
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    padding: 0px 20px;
    background-color: #ededed;
    display: inline-block;
    
}
.section-projects--filter ul,
.section-projects--filter li{
    list-style: none;
}
.section-projects--filter ul{
    display: flex;
    flex-wrap: wrap;
}
.section-projects--filter li{
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 3px solid #ededed;
    border-left: 1px solid #cfcfcf;
}
.section-projects--filter li:first-child{
    border-left: none;
}
.section-projects--filter li.active{
    border-bottom: 3px solid #b88b58;
}
.section-projects--filter li:hover{
    cursor: pointer;
    border-bottom: 3px solid #b88b58;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width:inherit;
    height:inherit;
}
.section-projects--photoinfo{
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team{
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}
.section-teams-slides{
    min-width: 250px;
}

.section-teams-slides .item{
    background-color: #fff;
    color: #000;
    margin-right: 15px;
    margin-left: 15px;
    padding: 30px;
    border-radius: 3px;
}
.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-img img{
    width: 150px;
    height: auto;
}
.item-content .item-name{
    margin-top: 23px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.section-teams-slides .item-social{
    display: flex;
    justify-content: center;
}
.section-teams-slides .item-social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #bebebe;
    margin-top: 30px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 50%;
}
.section-teams-slides .item-social a:hover{
    background-color: #b88b58;
}
.deposition-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.deposition-content span{
    margin-top: 30px;
}
.deposition-name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
}
.deposition-occupation{
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.deposition-content p{
    line-height: 23px;
    margin-top: 20px;
    max-width: 730px;
    text-align: center;
}
.partner-companies{
    display: flex;
    flex-wrap: wrap;
}
.partner-companies div{
    flex: 1;
}
.section-prices{
    display: flex;
}
.section-prices:last-child{
    margin-right: 20px;
}
.section-price{
    flex: 1;
    background-color: #fff;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.section-price h1{
    font-size: 23px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.section-price h1,
.section-price h4{
    text-transform: uppercase;
    color: #252525;
}
.section-price .time{
    margin-bottom: 15px;
    font-size: 10px;
}



.button-section--premuim{
    display: flex;
    justify-content: center;
}
.section-premium-content{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #d8d8d8;
}
.section-premium-left,
.section-premium-rigth{
    flex: 1;
}
.section-premium-rigth h1{
    font-size: 23px;
    text-transform: uppercase;
    display: flex;
}
.section-premium-rigth h1::before{
    content: url(../images/check.png);
    height: 38px;
    width: 50px;
    display: flex;
    align-items: center;
}
.section-premium-rigth p{
    line-height: 23px;
    margin: 10px 0;
    color: #8e8e8e;
    margin-left: 50px;
}

.section-facts {
    display: flex;
}

.section-fact {
    flex: 1;
    padding: 15px;
    text-align: center;
}
.section-fact h1{
    color: #b88b58;
    font-size: 40px;
}
.facts-traco{
    margin: auto;
    border: 1px solid #7e7e7e;
    width: 20px;
    margin-top: 5px;
}
.section-fact h4 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    
}
.section-fact p {
    font-size: 13px;
}


.social-facts .body {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter{
    background-color: #34c5f1;
}
.linkedin{
    background-color: #107db5;
}
.facebook{
    background-color: #326197;
}
.googleplus{
    background-color: #e64238;
}
.pinterest{
    background-color: #b71b28;
}
.social-facts{
    border-bottom: 1px solid #d8d8d8;
}
.social-facts .body{
    padding: 15px 0;
    background-color: #fff;
}
.social-facts .body div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
 .social-facts .body a{
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.social-facts .body span{
    margin:0 25px 0 5px;
    color:#aeaeae;
}
.social-facts .body h4{
   margin-right: 60px;
    color: #aeaeae;
    display: flex;
    align-items: center;
}
.social-facts .body h4::before{
    content: url(../images/share.png);
    margin-right: 10px;
}

/* Formulário Inicio */

.forms{
    display: flex;
    justify-content: center;
}

.form-conten,
.form-conten2{
    display: flex;
    padding: 10px;
}

.form-conten2{
    flex-direction: column;
}

.form-conten label,
.form-conten2 label{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 12px;
}

input[name="name"],
input[name="email"],
input[name="message"],
input[name="subject"]{
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #aeaeae;
}

input[name="name"],
input[name="email"]{
    flex: 1;
    margin-bottom: 8px;
    background-color: #f7f7f7;
    min-width: 230px;
}

input[name="message"],
input[name="subject"]{
    width: 100%;
    background-color: #f7f7f7;
}
input[name="name"] {
    margin-right: 20px;
}
input[name="subject"]{
    margin-bottom: 50px;
}
.btn-form{
    display: flex;
    justify-content: center;
}
input[type="submit"]{
    border: none;
}
/* Formulário Fim */

/* Início mapa */
.section-map{
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #7d7d7d;
    margin-bottom: 10px;
}
.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #aeaeae;
    border-radius: 15px;
    margin-right: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}

/* Fim mapa */

/* Início footer */
.footer-dafault{
    padding: 30px;
    background-color: #000;
    color: #fff;
}
.footer-body{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    
}
.footer-social,
.footer-desc,
.footer-form{
    flex: 1;
    padding: 10px;
}
.footer-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-icon{
    display: flex;
}
.footer-icon a{
    display: flex;
    width: 34px;
    height: 32px;
    margin-right: 5px;
    background-color: #373737;
    border-radius: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-icon a:hover{
    background-color: #b88b58;
}
.footer-form{
    background-color: #373737;
    border-radius: 3px;
}
.footer-desc{
    font-size: 12px;
    color: #7e7e7e;
    line-height: 20px;
}
.copyright{
    font-weight: 600;
    font-size: 18px;
}
.footer-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9e9e9e;
    font-weight: 600;
}
.footer-form--input{
    min-width: 250px;
    height: 25px;
    background-color: #373737;
    border: none;
    outline: none;
    border-bottom: 2px solid #aeaeae;
    color: #fff;
}
.button-form{
    background-color: #b88b58;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 23px;
    cursor: pointer;
}
/* FIm footer */

/* Início esponsividade para tablet */
@media (min-width: 450px) and (max-width:800px){
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu li.active a{
        border: none;
        color: #b88b58;
    }

    .section-aboutus{
        flex-direction: column;
        align-items: center;
    }
    .section-about-text{
        margin: 0 30px 30px 30px;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child{
        border: 0;
    }
    .partner-companies{
        align-items: center;
    }
    .partner-companies div{
        display: flex;
        min-width: 33%;
        margin: 20px;
    }
    .partner-companies div img{
        margin: auto;
    }
    .section-prices{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-price{
        margin-left: 20px;
        min-width: calc(50% - 40px);
        margin-bottom: 20px;
    }

    .section-premium-content{
        flex-direction: column;
        align-items: center;
    }
    .section-premium-rigth{
        padding: 50px 80px 0 80px;
    }
    .section-premium-left img{
        width: 70%;
    }

    .section-facts{
        flex-wrap: wrap;
    }
    .section-fact{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .social-facts .body{
        margin: 0 20px;
    }
    .footer-container{
        flex-direction: column-reverse;
        width: calc(100vw - 60px);
    }
    .copyright{
        margin-top: 20px;
    }
    .footer-social{
        align-items: center;
    }
    .section-map--area{
        padding: 0 30px;
    }
    .section-map--info{
        width: auto;
    }
    .slidearea h1{
        font-size: 40px;
    }
    .section-about-img{
        max-width: 400px;
        width: 90%;
    }
    input[name="name"],
    input[name="email"] {
        min-width: 200px;
    }
}
/* Fim esponsividade para tablet */

/* Início esponsividade para celular */

@media (max-width:450px) {
    .logo {
        margin-left: 30px;
    }

    .menu-opener {
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }

    .menu li.active a {
        border: none;
        color: #b88b58;
    }

    .section-aboutus {
        flex-direction: column;
        align-items: center;
    }

    .section-about-text {
        margin: 0 30px 30px 30px;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }
    
    .section-projects--filter{
        margin: 0 30px;
    }
    
    .section-projects--photo{
        width: 320px;
    }
    .section-projects--photoarea{
        width: 300px;
        height: 190px;
    }
    .section-service:first-child {
        border: 0;
    }

    .partner-companies {
        align-items: center;
    }

    .partner-companies div {
        display: flex;
        min-width: 33%;
        margin: 20px;
    }

    .partner-companies div img {
        margin: auto;
    }
    
    .section-prices {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-price {
        margin-left: 20px;
        min-width: 100%;
        margin-bottom: 20px;
    }

    .section-premium-content {
        flex-direction: column;
        align-items: center;
    }

    .section-premium-rigth {
        padding: 50px 80px 0 80px;
    }
    
    .section-premium-left img {
        width: 70%;
    }

    .section-facts {
        flex-wrap: wrap;
    }

    .section-fact {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .social-facts .body {
        margin: 0 20px;
    }

    .footer-container {
        flex-direction: column-reverse;
        width: calc(100vw - 60px);
    }

    .copyright {
        margin-top: 20px;
    }

    .footer-social {
        align-items: center;
    }

    .section-map--area {
        padding: 0x;
    }

    .section-map{
        padding: 0;
        padding-bottom: 250px;
    }
    
    .section-map--info {
        width: auto;
    }

    .slidearea h1 {
        font-size: 30px;
    }
    .slidearea h2{
        font-size: 17px;
    }
    
    .section-about-img{
        width: 90%;
        margin: 0;
    }

    input[name="name"],
    input[name="email"]{
        min-width: 200px;
    }
}
/* Fim esponsividade para celular */